<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pheart.configuration.authentication.username" value="heart" />
    <add key="pheart.configuration.authentication.password" value="heart" />
  </appSettings>
  <!--<connectionStrings>
    <add name="PHeartDbContext" connectionString="metadata=res://*/Models.PHeart.csdl|res://*/Models.PHeart.ssdl|res://*/Models.PHeart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=PHeart;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>