@charset "utf-8";
#page-wrap
{
	width:1000px; 
	margin: 0 auto;
	overflow:hidden;
}

#header{
	background:url(../images/header_bg.jpg) no-repeat;
	height:125px;
}
#header_nav{
	padding:100px 40px 10px 80px;
}
#header_nav ul li{
	float:left;
}
#header_nav ul li a{
	padding:0 9px;
	margin:0 9px;
	display:block;
	color:#333;
}
#header_nav ul li a:hover{
	background:#FFF;
}
