html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	list-style: none;
}
body {
	line-height:1;
}
section,article,aside,header,footer,nav,dialog,figure {
	display:block;
}
figure {
	margin:0;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Hides from IE-mac \*/* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
/* End hide from IE-mac */ .fl {
	float:left;
}
.fr {
	float:right;
}
.hidden {
	display:none!important;
}
.cb {
	clear:both;
}
.cl {
	clear:left;
}
.cr {
	clear:right;
}
.tl {
	text-align:left;
}
.tr {
	text-align:right;
}
.tc {
	text-align:center;
}
.vm {
	vertical-align:middle;
}
.pr {
	position:relative;
}
.pa {
	position:absolute;
}
.fn {
	font-weight:normal;
}
.fb {
	font-weight:bold;
}
.zoom {
	zoom:1;
}
.p6 {
	padding:6px;
}
.p10 {
	padding:10px;
}
.pt5 {
	padding-top:5px;
}
.ml5 {
	margin-left:5px;
}
.mr5 {
	margin-right:5px;
}
.mt5 {
	margin-top:5px;
}
.mb5 {
	margin-bottom:5px;
}
.mr10 {
	margin-right:10px;
}
.ml10 {
	margin-left:10px;
}
.ml10 {
	margin-left:10px;
}
.ml20 {
	margin-left:20px;
}
.ml30 {
	margin-left:30px;
}
.ml40 {
	margin-left:40px;
}
.mr20 {
	margin-right:20px;
}
.mr29 {
	margin-right:29px;
}
.mr30 {
	margin-right:30px;
}
.mr40 {
	margin-right:40px;
}
.mr50 {
	margin-right:50px;
}
.pt10 {
	padding-top:10px;
}
.pb10 {
	padding-bottom:10px;
}
.pb20 {
	padding-bottom:20px;
}
.pb30 {
	padding-bottom:30px;
}
.pb40 {
	padding-bottom:40px;
}
.pb50 {
	padding-bottom:50px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pr15 {
	padding-right:15px;
}
.pt20 {
	padding-top:20px;
}
.pb30 {
	padding-bottom:30px;
}
.pt30 {
	padding-top:30px;
}
.pr10 {
	padding-right:10px;
}
.pl20 {
	padding-left:20px;
}
.pl30 {
	padding-left:30px;
}
.pr20 {
	padding-right:20px;
}
.mb10 {
	margin-bottom:10px;
}
.mb20 {
	margin-bottom:20px;
}
.mt10 {
	margin-top:10px;
}
.mt20 {
	margin-top:20px;
}
.mt15 {
	margin-top:15px;
}
.mt17 {
	margin-top:17px;
}
.ml60 {
	margin-left:60px;
}
.ml80 {
	margin-left:80px;
}
.ml100 {
	margin-left:100px;
}
.ml120 {
	margin-left:120px;
}
.arial {
	font-family:arial;
}
body {
	font:normal 14px/1.5 'Tahoma','simsun';
}
.loading {
	background:url("images/T16WJqXaXeXXXXXXXX-32-32.gif") no-repeat scroll 50% 50% #FFF;
}
a {
	color:#3e3e3e;
	text-decoration: none;
}
a:hover {
	color:#f60;
}
.invisible {
	visibility:hidden;
}
.h {
	color:#F50!important;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.hot-screen {
	height:395px;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}
.ie-noscript-warning {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:16px;
}
.ie-noscript-warning .warning-wrap {
	height:509px;
	width:100%;
	margin-top:14px;
	margin-bottom;
	9px;
	background:url("images/noscript-warning.png") 131px 133px no-repeat #f1f5ff;
}
.ie-noscript-warning .warning-wrap .warning-txt {
	font-size:14px;
	position:absolute;
	top:242px;
	left:305px;
}
.ie-noscript-warning .warning-wrap .warning-txt a {
	color:#356395;
	text-decoration:underline;
}
.ie-noscript-warning .warning-wrap .warning-txt a:hover {
	text-decoration:none;
}
.super-enter {
	width:27px;
	height:20px;
	background:url('http://img01.taobaocdn.com/tps/i1/T1oiFWXc8fXXXXXXXX-27-20.gif') no-repeat;
	position:absolute;
	top:22px;
	left:304px;
}
.temp-th {
	width:50px;
	height:20px;
	background:url('http://img02.taobaocdn.com/tps/i2/T1DLXYXn8rXXXXXXXX-50-20.gif') no-repeat;
	position:absolute;
	top:17px;
	left:568px;
}
.sp-price {
	font-family:arial,Verdana;
}